@using System.Web.Mvc.Html
@using Sitecore.Mvc
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@using Sitecore.XA.Foundation.Grid.Extensions
@using Sitecore.XA.Foundation.Theming.Bundler
@using Sitecore.XA.Foundation.Theming.Models
@using Sitecore.XA.Foundation.Theming.Services
@using Microsoft.Extensions.DependencyInjection
@using Sitecore.DependencyInjection

@model Sitecore.Mvc.Presentation.RenderingModel

@{
    AssetLinks assetLinks = AssetLinksGenerator.GenerateLinks(new ThemesProvider());
    HTMLIncludes includes = ServiceLocator.ServiceProvider.GetService<IHTMLIncludesService>().GetHTMLIncludes();
}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="@Model.Item.Language.Name">
<!--<![endif]-->
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&family=Zilla+Slab:wght@300;400;500;600;700&display=swap"
          rel="stylesheet" />
    <link as="font"
          rel="stylesheet preload prefetch"
          href="https://fonts.gstatic.com/s/zillaslab/v11/dFa6ZfeM_74wlPZtksIFajo6_Q.woff2"
          type="font/woff2"
          crossorigin="anonymous" />
    <link as="font"
          rel="stylesheet preload prefetch"
          href="https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxK.woff2"
          type="font/woff2"
          crossorigin="anonymous" />

    <!-- Font Awesome -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />



    <!-- Link Swiper's CSS -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

    <!-- AFI CSS -->
    @foreach (string style in assetLinks.Styles)
    {
        @Html.Raw(style)
    }

    @foreach (var include in includes.Head)
    {
        @Html.Raw(include.HTML)
    }

    <link href="~/asset/css/common.css" rel="stylesheet" />
        <link href="~/asset/css/hero.css" rel="stylesheet" />
        <link href="~/asset/css/footer.css" rel="stylesheet" />
        <link href="~/asset/css/content_page.css" rel="stylesheet" />
        <link href="~/asset/css/header_sxa.css" rel="stylesheet" />

        <link href="~/asset/css/page-article.css" rel="stylesheet" />
        <link href="~/asset/css/account-pods.css" rel="stylesheet" />
        <link href="~/asset/css/bg-card.css" rel="stylesheet" />
        <link href="~/asset/css/blue-card.css" rel="stylesheet" />
        <link href="~/asset/css/card-group.css" rel="stylesheet" />
        <link href="~/asset/css/download-app.css" rel="stylesheet" />
        <link href="~/asset/css/our-mission.css" rel="stylesheet" />
        <link href="~/asset/css/IsAfi.css" rel="stylesheet" />
        <link href="~/asset/css/mission-text.css" rel="stylesheet" />
        <link href="~/asset/css/blue-pods.css" rel="stylesheet" />
        <link href="~/asset/css/insurance_hero.css" rel="stylesheet" />

        <link href="~/asset/css/main-text-content.css" rel="stylesheet" />
        <link href="~/asset/css/embed-video.css" rel="stylesheet" />
        <link href="~/asset/css/eligible-blue-card.css" rel="stylesheet" />
        <link href="~/asset/css/policy-cover-tiles.css" rel="stylesheet" />
        <link href="~/asset/css/make-sound.css" rel="stylesheet" />
        <link href="~/asset/css/auto-insurance-policy.css" rel="stylesheet" />
        <link href="~/asset/css/insurance-explained-img.css" rel="stylesheet" />
        <link href="~/asset/css/insurance-explained-text.css" rel="stylesheet" />
        <link href="~/asset/css/red-quote-cta-card.css" rel="stylesheet" />
        <link href="~/asset/css/review-customers.css" rel="stylesheet" />
        <link href="~/asset/css/related-articles.css" rel="stylesheet" />
        <link href="~/asset/css/additional_coverages.css" rel="stylesheet" />
        <link href="~/asset/css/flood-questions.css" rel="stylesheet" />
        <link href="~/asset/css/newsletter.css" rel="stylesheet" />
        <link href="~/asset/css/article-page.css" rel="stylesheet" />

<link href="~/asset/css/resources-and-tools.css" rel="stylesheet" />


    @Html.Sxa().VisitorIdentification()
    @Html.Sxa().Placeholder("head")
</head>
<body @Html.Sxa().Body().Decorate()>
    @Html.Sitecore().Placeholder("body-top")
    @foreach (var include in includes.BodyTop)
    {
        @Html.Raw(include.HTML)
    }
    @Html.Sxa().GridBody()
    @Html.Sitecore().Placeholder("body-bottom")
    @foreach (var include in includes.BodyBottom)
    {
        @Html.Raw(include.HTML)
    }
    @foreach (string include in assetLinks.Scripts)
    {
        @Html.Raw(include)
    }
    <script src="~/asset/js/swiper.min.js"></script>
    <script src="~/asset/js/header.js"></script>
    <script src="~/asset/js/card-group.js"></script>
    <script src="~/asset/js/footer.js"></script>

    <script src="~/asset/js/blue-pods.js"></script>
    <script src="~/asset/js/auto-insurance.js"></script>
    <script src="~/asset/js/style_helper.js"></script>

    <script>
        const body = document.body;
        const hamburger = document.querySelector("#hamburger");

        hamburger.addEventListener("click", () => {
            body.classList.toggle("screen_active");
        });

        // Nav Item
        const itemWithSubItems = document.querySelectorAll(
            ".primary-nav .level1.submenu"
        );
        itemWithSubItems.forEach((item) => {
            item.addEventListener("click", () => {
                if (screen.width < 991) {
                    itemWithSubItems.querySelector("ul").classList.toggle("sub_nav_open");
                }
            });
        });
    </script>

    <!-- /#wrapper -->
</body>
</html>