@using Sitecore.Mvc
@using Sitecore
@using Sitecore.Data.Fields
@using Sitecore.Resources.Media
@using Sitecore.Data.Items
@using Sitecore.Mvc.Presentation
@{
    var rendering = RenderingContext.Current.Rendering.Item;
    Sitecore.Data.Fields.MultilistField multiselectField = rendering.Fields["InsuranceTypeList"];
    Sitecore.Data.Items.Item[] items = multiselectField.GetItems();
}
<section class="hero_section">
    <div class="hero-and-quote-selector-wrapper">
        <section class="hero__wrapper">
            @{string bgImageUrl = "";
                ImageField bgimgField = rendering.Fields["Image"];
                if (bgimgField.MediaItem != null)
                {
                    bgImageUrl = MediaManager.GetMediaUrl(bgimgField.MediaItem);
                }
            }
            <picture class="hero__image">
                <source srcset="@bgImageUrl" media="(min-width: 1025px)">
                @Html.Sitecore().Field("Image", rendering)
            </picture>
        </section>
        <section class="quote-selector">
            
            @using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName, FormMethod.Post, htmlAttributes: new { @class = "quote-selector__form quote-selector_friend_form", @id = "quote-selector__form" }))
            {
                @Html.Sitecore().FormHandler("Forms", "HomepageQuoteFormSubmit")
                <fieldset>
                 <h1 class="quote-selector_friend_heading">@Html.Sitecore().Field("Title", rendering)</h1>
                    <input type="hidden" name="gclid" value="TeSter-123" />
                    <div class="quote-selector__types">
                        <div class="input_field">
                            <label for="quoteSelector" class="label ">@Html.Sitecore().Field("InsuranceTypeText", rendering)</label>
                            <select class="input  " id="quoteSelector" name="quoteSelector" required aria-required="true">
                                <option value="">@Html.Sitecore().Field("FieldDefaultText", rendering)</option>
                                @foreach (Sitecore.Data.Items.Item item in items)
                                {
                                    <option value="@item.Fields["InsuranceType"]">@item.Fields["InsuranceType"]</option>
                                }
                            </select>
                        </div>
                        <div class="quote-selector__controls" style="display:none;">
                            <div class="field" style="display:none;">
                                <input class="input js-shortzip-mask" id="quote-zip" name="quote-zip" type="text" value="" required aria-required="true" />
                                <label for="zip" class="label">@Html.Sitecore().Field("PlaceHolderText", rendering)</label>
                            </div>
                        </div>
                    </div>
                    <button class="button button--large-text Click-here" type="button">@Html.Sitecore().Field("ButtonText", rendering)</button>
                </fieldset>
            }

        </section>

    </div>
</section>